@import "tailwindcss";

@theme {
  /* container */
  --content-width: clamp(200px, 90%, 1440px);

  /* green */
  --color-moss-300: oklch(0.7581 0.1008 109.22);
  --color-moss-500: oklch(0.5443 0.0821 109.7);
  --color-moss-700: oklch(0.3813 0.0532 108.68);

  /* yellow */
  --color-yolk-300: oklch(0.8834 0.1583 91.38);
  --color-yolk-500: oklch(0.8303 0.166 87.4);
  --color-yolk-700: oklch(0.6688 0.1201 84.55);

  /* orange */
  --color-tangerine-300: oklch(0.6746 0.155 45.62);
  --color-tangerine-500: oklch(0.5754 0.1491 41.16);
  --color-tangerine-700: oklch(0.4244 0.105 42.33);

  /* pink */
  --color-hotpink-300: oklch(0.6401 0.1801 6.16);
  --color-hotpink-500: oklch(0.5268 0.1919 11.36);
  --color-hotpink-700: oklch(0.3834 0.1349 10.34);

  /* purple */
  --color-grape-300: oklch(0.5197 0.1295 322.46);
  --color-grape-500: oklch(0.3828 0.0897 322.22);
  --color-grape-700: oklch(0.2654 0.0577 321.5);

  /* blue */
  --color-lake-300: oklch(0.6495 0.1271 235.17);
  --color-lake-500: oklch(0.4507 0.0829 235.72);
  --color-lake-700: oklch(0.3027 0.0527 230.76);

  /* typography */
  --font-headings: "zenon", serif;
  --font-body: "Atkinson Hyperlegible", sans-serif;
}

@layer base {
  body {
    @apply bg-stone-100 text-moss-700 text-base;
  }

  main,
  footer {
    @apply w-full md:w-(--content-width) md:mx-auto md:border-x md:border-stone-300;
  }
  /* text */
  h1,
  h2,
  h3 {
    @apply tracking-wide text-moss-700 font-headings;
  }
  h1 {
    @apply text-4xl md:text-5xl;
  }

  h2 {
    @apply text-2xl md:text-3xl;
  }

  h3 {
    @apply text-lg md:text-xl;
  }

  h4 {
    @apply uppercase font-bold tracking-wide;
  }

  h5 {
    @apply font-bold;
  }

  p,
  li,
  blockquote {
    @apply max-w-[60ch] font-body text-base text-moss-700 text-pretty;
  }

  p,
  ul {
    @apply pt-4;
  }

  li {
    @apply pt-2;
  }

  .paragraph-short {
    @apply max-w-[40ch];
  }

  .text-accent {
    @apply text-tangerine-500;
  }

  mark {
    color: white;
    background-color: oklch(0.3813 0.0532 108.68);
    opacity: 0.8;
  }

  .question {
    @apply text-moss-500 text-xl font-bold max-w-[50ch];
  }

  /* links */
  .link {
    @apply hover:underline underline-offset-4 decoration-moss-500 cursor-pointer active:opacity-70 focus-visible:outline-solid focus-visible:outline-2 focus-visible:outline-offset-2;
  }

  .link-accent {
    @apply hover:underline underline-offset-4 decoration-tangerine-500 cursor-pointer active:opacity-70 focus-visible:outline-solid focus-visible:outline-2 focus-visible:outline-offset-2;
  }

  blockquote {
    @apply text-2xl text-moss-500 italic max-w-[35ch];
  }

  nav .link {
    @apply text-lg;
  }

  /* svgs  */
  /* .cls-1 {
    fill: var(--color-moss-500);
  } */

  .cls-1 {
    fill: var(--icon-fill, var(--color-moss-500));
  }

  .cls-accent {
    fill: var(--color-tangerine-500);
  }

  /* light-mode / dark-mode */
  html[data-theme="dark"] {
    --color-moss-500: oklch(0.7581 0.1008 109.22);
    --color-moss-700: oklch(86.9% 0.005 56.366);
    --color-tangerine-500: oklch(0.6688 0.1201 84.55);
    --color-tangerine-300: oklch(0.6688 0.1201 84.55);
    --color-lake-500: oklch(0.6495 0.1271 235.17);
    --color-hotpink-500: oklch(0.6401 0.1801 6.16);
    --color-grape-500: oklch(0.5197 0.1295 322.46);
    --color-yolk-700: oklch(0.5754 0.1491 41.16);
    --color-white: oklch(14.5% 0 0); /* neutral-950 */
    --color-stone-200: oklch(20.5% 0 0); /* neutral-900 */
    --color-stone-50: oklch(26.9% 0 0); /* neutral-800 */
    --color-stone-100: oklch(20.5% 0 0); /* neutral-900 */
    --color-stone-300: oklch(37.1% 0 0); /* neutral-700 */
    --color-stone-500: oklch(87% 0 0);
  }
}

@layer components {
  /* buttons */
  .btn {
    @apply block self-end h-fit px-8 py-2 border-[1.5px] rounded-md hover:bg-transparent text-sm text-center font-bold uppercase tracking-wider cursor-pointer md:w-fit;
  }

  .btn-main {
    @apply border-moss-500 bg-moss-500 hover:border-stone-500 hover:text-stone-500 text-white;
  }

  .btn-inverse {
    @apply border-stone-400 text-stone-500 hover:bg-moss-500 hover:text-white hover:border-moss-500;
  }

  /* .btn {
    @apply block self-end h-fit px-8 py-2 border-[1.5px] border-moss-500 rounded-md bg-moss-500 hover:bg-transparent hover:border-stone-500 hover:text-stone-500 text-white text-sm text-center font-bold uppercase cursor-pointer md:w-fit;
  } */

  .btn-accent {
    @apply border-tangerine-500 bg-tangerine-500 hover:border-tangerine-500 hover:text-tangerine-500 text-white;
  }

  .btn-white {
    @apply border-stone-200 bg-stone-200 hover:bg-transparent hover:border-stone-200 hover:text-stone-200 text-current;
  }

  button:focus-visible,
  input:focus-visible {
    outline: 2px solid currentColor;
    outline-offset: 2px;
  }

  /* popovers */
  .navbar {
    anchor-name: --navbar;
  }

  #mega-menu__popover[popover] {
    inset-block-start: anchor(--navbar bottom);
  }

  #alert__popover::backdrop,
  #directions__popover::backdrop,
  #hours__popover::backdrop {
    @apply bg-stone-800/90;
  }

  /* light-mode / dark-mode */
  .theme-toggle {
    position: relative;
    width: 3rem;
    height: 3rem;
  }

  .theme-toggle input {
    position: absolute;
    inset: 0;

    opacity: 0;
    cursor: pointer;
  }

  .owl {
    position: absolute;
    inset: 0;
    cursor: pointer;
  }

  .icon-owls {
    position: relative;
    inline-size: 36px;
    block-size: 36px;
    margin-inline-start: 0.5rem;
    transform: translateY(2px);
  }

  .icon-owls .owl {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
  }

  .icon-owls .owl--a {
    opacity: 1;
    pointer-events: auto;
  }

  header:has(#theme-toggle:checked) .icon-owls .owl--a {
    opacity: 0;
    pointer-events: none;
  }

  header:has(#theme-toggle:checked) .icon-owls .owl--b {
    opacity: 1;
    pointer-events: auto;
  }

  /* species table */
  #species-table th button {
    background: none;
    border: 0;
    padding: 0;
    font: inherit;
    color: inherit;
  }

  #species-table th button:hover {
    text-decoration: underline;
  }

  #species-table th button span {
    margin-left: 0.2rem;
  }
}
